@import url(./../fonts/montserrat/montserrat.css);
@import url(./../fonts/poppins/poppins.css);

@import url(./styles/header-nav.css);
@import url(./styles/header.css);


* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.outer-container {
    max-width: 1440px;
    margin: 0 auto;
}


