/* font-family: 'Montserrat';
font-family: 'Poppins'; */


@import url(./../fonts/montserrat/montserrat.css);
@import url(./../fonts/poppins/poppins.css);

@import url(./blocks/header-nav.css);
@import url(./blocks/header.css);
@import url(./blocks/section-picture.css);
@import url(./blocks/section-how-works.css);


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.outer-container,
.container {
    margin: 0 auto;
}

.outer-container {
    max-width: 1440px;
}

.container {
    max-width: 1000px;
}


