.header-content {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 620px;
    padding: 100px;
    background-color: rgba(51, 51, 51, 0.5);
    background-image: url(./../../img/header-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-content-block {
    max-width: 940px;

    color: #fff;
    text-align: center;
}

.header-content-text {
    margin-bottom: 15px;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.header-content-text ~ .header-content-text {
    margin-bottom: 50px;
}

.header-content-title {
   margin-bottom: 25px;
   font-family: 'Poppins';
   font-weight: 700;
   font-size: 58px;
   line-height: 1.4;
}

.font-weigth {
    font-weight: 100;
}

@media screen and (max-width: 414px) {
    .header-content {
        padding: 90px 10px;
        background-image: none;
        background-color: #fff;
    }

    .header-content-text {
        font-size: 24px;
        color: #737373;
    }

    .header-content-title {
        font-size: 36px;
        line-height: 42px;
        color: #252B42;
    }

    .font-weigth {
        font-weight: 500;
    }
}
