.section-picture {
    padding: 0 10px;
}

.section-picture-img-wrapper {
    position: relative;
    max-width: 550px;
    /* max-height: 450px; */
    margin: 0 auto;
    
    
    /* overflow: hidden; */
}

.section-picture-img-wrapper img {
    transform: translate(-10%, -20%);
    max-height: 650px;
}

@media screen and (max-width: 414px) {
    .section-picture-img-wrapper img {
        transform: translate(0%, -25%);
        max-height: 650px;
    }
}
