.section-varieties {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    padding: 0 20px;

    overflow: hidden;
}


@media screen and (max-width: 414px){
    .section-varieties {
        flex-direction: column;
        padding: 65px 20px;
        padding-top: 0;
    }
}